<h1 class="bobs-burgers">Burger Joint</h1>

<h2 class="bobs-burgers2 left">Burgers</h2>

<ul class="list-group">
    {{#each burgers}}
      {{#unless devoured}}
        {{> burgers/burger-line ateIt=false}}
      {{/unless}}
    {{/each}}    
</ul>
<br>
<h2 class="bobs-burgers2 right">Eaten Burgers</h2>

<ul class="list-group2">
    {{#each burgers}}
      {{#if devoured}}
        {{>burgers/burger-line ateIt=true}}
      {{/if}}
    {{/each}}    
</ul>

<form class="create-form">

  <div class="form-group" action="submit">
    <label for="burg">Burger: </label>
    <input type="text" id="burg">
  </div>

  <button type="submit" >Add Burger</button>
</form>

